.tab-item-style-active {
  border-bottom: 2px solid #007BFF !important;
  cursor: pointer;
}
.tab-item-style-active1 {
  background-color: white;
  cursor: pointer;
}

.tab-item-style-active:not(:first-child) {
  margin-left: 1rem;
}

.tab-item-style-default:not(:first-child) {
  margin-left: 1rem;
  cursor: pointer;
}